@import "tailwindcss";

:root {
  --background: #131415;
  --foreground: #ffffff;
  --header-padding: 6px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply px-4 lg:px-16;
}

header {
  @apply fixed top-0 z-50 w-full h-12;
}

main {
  @apply pt-12;
}
