@import "tailwindcss";

:root {
  --background: #131415;
  --foreground: #ffffff;
}

@theme {
  --primary: #131415;
  --secondary: #161718;
  --tertiary: #060708;
  --lightGray: #1d1e21;
  --primaryText: #ffffff;
  --secondaryText: #a1a395;
  --orange: #ff6900;
  --blue: #0693e3;
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-(family-name:--font-inter);
}

header {
  @apply fixed top-0 z-50 w-full h-16;
}

main {
  @apply pt-16;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
